body {
	--duration: 0.5s;
  --timing: ease;
  
	transition:
	  color var(--duration) var(--timing),
		background-color var(--duration) var(--timing);
}

#dark-mode-toggle {
  margin-top: 6px;
  display: block;
  cursor: pointer;
}

#dark-mode-toggle svg {
	fill: currentColor;
}

figure.right-aligned > img {
  float: right;
  width: 25%;
  margin: 0 0 2rem 2rem;
}

@media only screen and (max-width: 768px) {
  figure.right-aligned > img {
    float: none;
    margin: 0;
  }

  #dark-mode-toggle {
    margin-left: 10px;
    margin-top: 3px;
  }

  .navigation .navigation-list .separator {
    display: none;
  }
}

colorscheme-dark

body.colorscheme-dark { background-color: #121212; }
body.colorscheme-dark a { color: #6db8ee; }
body.colorscheme-dark .content .list ul li .title:hover, body.colorscheme-dark .content .list ul li .title:focus { color: #6db8ee; }
body.colorscheme-dark .content .centered .about ul li a:hover, body.colorscheme-dark .content .centered .about ul li a:focus { color: #6db8ee; }
body.colorscheme-dark .navigation a:hover, body.colorscheme-dark .navigation a:focus, body.colorscheme-dark .navigation span:hover { color: #6db8ee; }
body.colorscheme-dark .footer a { color: #6db8ee; }

@media only screen and (max-width: 768px) {
	body.colorscheme-dark .navigation .menu-button:hover, body.colorscheme-dark .navigation .menu-button:focus { color: #6db8ee; }
}
